.darkMode {
  background-color: #1e1d1d;
  color: #eceff0;
}

.lightMode {
  background-color: #eceff0;
  color: black;
  max-width: 75%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #143F6B;
}

.header .container-fluid {
  height: auto;
  width: 100%;
}

.header .navbar {
  max-height: 100%;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: auto;
  margin-left: 5px;
  margin-bottom: 2px;
}

.header .nav-item {
  margin-left: 9%;
  font-size: 14px;
  list-style: none;
  padding: 3%;
  border-radius: 11%;
}

.header .nav-item:hover {
  background-color: #113457;
  color: #eceff0;
}

.header .nav-link {
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px;
}

.header .nav-link:hover {
  color: #eceff0;
}

.header .navbar-toggler {
  background-color: #eceff0;
}

.header .btn-outline-success {
  --bs-btn-color: $myRed;
  border-color: #f55349;
  color: #f55349;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: $myRed;
  --bs-btn-hover-border-color: $myRed;
  --bs-btn-focus-shadow-rgb: 25,135,84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: $myRed;
  --bs-btn-active-border-color: $myBlue2;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: $myBlue2;
  --bs-btn-disabled-bg: transparent;
  --bs-gradient: none;
}

.header input::-webkit-input-placeholder {
  font-size: 90%;
}

.header input:-ms-input-placeholder {
  font-size: 90%;
}

.header input::-ms-input-placeholder {
  font-size: 90%;
}

.header input::placeholder {
  font-size: 90%;
}

* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: #eceff0;
}

fieldset {
  height: auto;
  width: 50%;
  margin: 1%;
  padding: 5px;
  border-radius: 3%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form .form-select {
  margin-bottom: 10px;
}

h1 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 2px;
  text-align: center;
}

p {
  margin: 5px;
  margin-left: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.btn-dark {
  margin-right: 1%;
  size: 70%;
}

.btn-light {
  margin-right: 1%;
}

.carousel {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: portada;
}

.carousel-inner {
  height: 400px;
  width: 100%;
}

.carousel-item {
  height: 100%;
  width: 100%;
}

.carousel .titleImage, .carousel .titleImage-2, .carousel .titleImage-3 {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-position-x: 39%;
  background-size: cover;
}

.carousel .titleImage {
  background-image: url("../assets/Fondo Titulo.jpg");
  background-position-y: 20%;
}

.carousel .titleImage-2 {
  background-image: url("../assets/Fondo Titulo 2.jpg");
  background-position-y: 14%;
}

.carousel .titleImage-3 {
  background-image: url("../assets/Fondo Titulo 3.jpg");
  background-position-y: 5%;
}

.carousel .mainTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.5);
}

.catalogo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: section;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
}

.catalogo h1 {
  height: auto;
  width: 100%;
  margin-left: 5px;
}

.catalogo .containerArticulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 175px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px 5px 10px 5px;
}

.catalogo .containerArticulo p {
  font-size: 0.9rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalogo .containerArticulo .IMGcamiseta {
  height: auto;
  width: 175px;
  max-width: 100%;
}

.catalogo .containerArticulo .IMGcamiseta:hover {
  height: auto;
  width: 173.5px;
}

.FAQ {
  font-weight: 650;
  padding: 1rem 2rem 2rem 2rem;
}

.FAQ p {
  margin: 0.6%;
}

.FAQ .btn-primary {
  background-color: white;
  border-color: #113457;
  color: black;
  font-weight: 650;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.FAQ .btn-primary:hover {
  background-color: #eceff0;
}

.FAQ .card {
  margin: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.FAQ .btn-submit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #143F6B;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.location p {
  max-width: 620px;
}

.footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #143F6B;
  position: fixed;
  bottom: 0;
  color: #fff;
  padding: 0.6rem;
  height: auto;
  width: 100%;
}

.footer__copyright {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  padding-right: 5px;
}

.gridArea {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "section" "footer";
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 0.3fr auto 0.1fr;
      grid-template-rows: 0.3fr auto 0.1fr;
}

.gridArea__contacto {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "form" "footer";
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 0.3fr auto 0.1fr;
      grid-template-rows: 0.3fr auto 0.1fr;
}

.gridArea__index {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "portada" "contenidoPrincipal" "footer";
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 2fr auto 0.1fr;
      grid-template-rows: 2fr auto 0.1fr;
}

.section {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: section;
  padding: 1rem;
}

.mainContent {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: contenidoPrincipal;
}

@media only screen and (max-width: 480px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__logo {
    margin-left: 0px;
  }
  .header .nav-item {
    margin-left: 0%;
  }
  .header .nav-item:hover {
    background-color: #143F6B;
  }
  .header .carousel-inner {
    height: 300px;
    width: auto;
  }
  .mainTitle {
    font-size: 18px;
  }
  form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gridArea__contacto {
    -ms-grid-rows: 0.3fr 0.5fr 0fr;
        grid-template-rows: 0.3fr 0.5fr 0fr;
  }
  .catalogo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalogo .IMGcamiseta {
    height: auto;
    width: 150px;
  }
  .catalogo .containerArticulo {
    height: auto;
    width: 150px;
  }
  .catalogo h2 {
    height: auto;
    width: 100%;
  }
  h1 {
    font-size: 1.8rem;
  }
  fieldset {
    width: 70%;
  }
  .footer {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    font-size: 30px;
  }
  .footer__copyright {
    font-size: 8px;
  }
  .Title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .location {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .location p {
    max-width: 100%;
  }
  .btn-dark {
    margin-bottom: 3%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 991px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav {
    background-color: #143F6B;
    height: auto;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__logo {
    margin-left: 0px;
  }
  .header .nav-item {
    padding: 0%;
    margin-left: 0%;
  }
  .header .nav-item:hover {
    background-color: #143F6B;
    border-radius: 10%;
  }
  .header .nav-link {
    margin: 5px;
  }
  .footer {
    font-size: 13px;
  }
  form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gridArea__contacto {
    -ms-grid-rows: 0.3fr 1fr 0fr;
        grid-template-rows: 0.3fr 1fr 0fr;
  }
  .catalogo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalogo h2 {
    height: auto;
    width: 100%;
    margin-left: 5px;
  }
  fieldset {
    height: auto;
    width: 70%;
  }
  .location {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .location p {
    max-width: 100%;
  }
  .btn-dark {
    margin-bottom: 3%;
  }
}
/*# sourceMappingURL=index.css.map */