*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
}
a{
    text-decoration: none;
}
body {
    background-color: $myGrey;
}
fieldset {
    @include sizes(50%,auto);
    margin: 1%;
    padding: map-get($estilosSTD, StdPX);
    border-radius: 3%; ;
}
form {
    display: flex;
    justify-content: center;
    .form-select {
        margin-bottom: 10px;
    }
}
h1 {
    font-size: 1.7rem ;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 2px;
    text-align: center;
}
p {
    margin: 5px;
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 600;
}
.btn-dark {
    margin-right: 2%;
}
.btn-light {
    margin-right: 1%;
}